## Cache
open_file_cache max=1000 inactive=24h;
open_file_cache_valid 24h;
open_file_cache_min_uses 2;
open_file_cache_errors on;

## Timeouts
client_header_timeout 15;
client_body_timeout 15;
send_timeout 15;
#keepalive_timeout 2 2; #may conflict

## Size limits
client_max_body_size 15m;
client_header_buffer_size 32k;
client_body_buffer_size 128k;
large_client_header_buffers 64 8k;

## General
types_hash_max_size 2048;
server_names_hash_bucket_size 64;
ignore_invalid_headers on;
limit_conn_zone $binary_remote_addr zone=addr:10m;
recursive_error_pages on;
reset_timedout_connection on;
#sendfile on; #may conflict
tcp_nopush on;
tcp_nodelay on;
server_tokens off;
server_name_in_redirect off;
keepalive_requests 100;

## Compression
gzip on;
gzip_static on;
gzip_comp_level 6;
gzip_disable "msie6";
gzip_buffers 32 8k;
gzip_vary on;
gzip_proxied any;
gzip_min_length 0;
gzip_http_version 1.0;
gzip_types text/css text/javascript text/xml text/plain application/javascript application/x-javascript application/json application/xml application/rss+xml;
output_buffers 10 128k;
postpone_output 1500;

server { 
 listen 80; 
 server_name maintenance; 
 root /var/www/html; 
 index index.html index.htm; 

 #charset koi8-r; 
 #access_log /var/log/nginx/log/host.access.log main; 

 #error_page 404 /404.html; 

 ## Redirect server error pages to the static page /50x.html 
 error_page 500 502 503 504 /50x.html; 
 location = /50x.html { 
  root /usr/share/nginx/html; 
 } 

 ## Proxy the PHP scripts to Apache listening on 127.0.0.1:80 
 #location ~ \.php$ {
 # proxy_pass http://127.0.0.1;
 #}

 ## Deny access to hidden files
 location ~ /\. {
  deny all;
 }
 
 ## No log for known files
 location ~* ^.+\.(js|css|swf|xml|ogg|ogv|svg|svgz|eot|otf|woff|mp4|ttf|rss|atom|jpg|jpeg|gif|png|ico|mid|midi|wav|bmp)$ {
  access_log off; log_not_found off; expires 30d;
 }

 location = /favicon.ico {
  access_log off; log_not_found off; expires 30d;
 }

 location = /robots.txt {
  allow all; access_log off; log_not_found off; expires 30d;
 }
}